# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Environment
.env
.venv/
venv/
ENV/
env.bak/
env/
*.env

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover

# PyCharm
.idea/

# Build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node (if using with frontend)
node_modules/
